/* Typographie */

body {
  background-color: #f4f6f8;
}

.body-black {
  background-color: #121721;
}

/* Container */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* HEADER */

header {
  min-height: 13.6rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url("../../assets/images/mobile-background-light.svg");
  margin-bottom: 9.5rem;
  padding: 4rem 3rem 3rem 3rem;
}

.light-switch {
  max-height: 2.4rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25rem;
}

/* Tout écran au dessus de 768px */
@media screen and (min-width: 48em) {
  header {
    min-height: 16rem;
    margin-bottom: 11rem;
    background-image: url("../../assets/images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .devjobs {
    margin-left: 1rem;
  }
}

/* Tout écran au dessus de 1024px */
@media screen and (min-width: 64em) {
  .devjobs {
    margin-left: 2rem;
  }
}

/* Tout écran au dessus de 1440px */
@media screen and (min-width: 90em) {
  .devjobs {
    margin-left: 4rem;
  }
}

/* Création du switch et de son mouvement */
.switch {
  width: 4.8rem;
  height: 2.4rem;
  position: relative;
  display: inline-block;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: white;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  left: 5px;
  bottom: 5px;
  background-color: #5964e0;
  content: "";
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.round:hover::before {
  background-color: #939bf4;
}

/* Tout écran au dessus de 768px */
@media screen and (min-width: 48em) {
  .light-switch {
    margin-right: 1rem;
  }
}

/* Tout écran au dessus de 1024px */
@media screen and (min-width: 64em) {
  .light-switch {
    margin-right: 2rem;
  }
}

/* Tout écran au dessus de 1440px */
@media screen and (min-width: 90em) {
  .light-switch {
    margin-right: 4rem;
  }
}

/* SEARCH BAR */

.search-bar {
  width: 90%;
  position: absolute;
  top: 9.5rem;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;
  background-color: white;
  border-radius: 4px;
}

.search-bar-black {
  background-color: #19202d;
}

.search-zone {
  display: flex;
  justify-content: center;
}

.search-zone:hover {
  cursor: pointer;
}

.search-icon {
  width: 2.6rem;
  display: flex;
  justify-items: center;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.filter-option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  background-color: white;
  visibility: hidden;
}

.filter-option:hover {
  cursor: pointer;
}

.filter-option-black {
  background-color: #19202d;
}

.search-tab {
  width: 12rem;
  border: none;
  font-size: 18px;
}

.search-tab:hover {
  cursor: pointer;
}

.search-tab-black {
  background-color: #19202d;
  color: white;
}

.location-img {
  width: 1.6rem;
  margin-right: 1rem;
}

.search-by-location {
  max-width: 16rem;
  border: none;
  font-size: 18px;
}

.search-by-location-black {
  background-color: #19202d;
  color: white;
}

.time-option {
  min-width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.time-content-black {
  color: white;
}

.vertical {
  margin: -1.6rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: solid 1px #f4f6f8;
}

.vertical-black {
  border: 1px solid #6e8098;
  background-color: #6e8098;
  opacity: 20%;
}

.search-button {
  border: none;
  border-radius: 5px;
  background-color: #5964e0;
  padding: 1.7rem 1.4rem 1.1rem 1.4rem;
  color: white;
}

.search-button:hover {
  background-color: #939bf4;
  transition: all 0.3s;
}

/* Tout écran en dessous de 768px */
@media screen and (max-width: 767px) {
  .filter-option {
    visibility: visible;
  }
  .vertical {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .time-option {
    display: none;
  }

  .search-by-location {
    display: none;
  }

  .location-img {
    display: none;
  }

  .search-button {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    background-color: #5964e0;
    background-image: url("../../assets/images/mobile-icon-search.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
  }
  .search {
    display: none;
  }
}

/* Tout écran au dessus de 768px */
@media screen and (min-width: 48em) {
  .search-bar {
    top: 11.5rem;
  }

  .search-tab {
    width: 14rem;
  }
}

/* Tout écran au dessus de 1024px */
@media screen and (min-width: 64em) {
  .search-tab {
    margin-right: 3rem;
    width: 22rem;
  }

  .search-by-location {
    margin-right: 3rem;
  }

  .search-button {
    width: 10rem;
  }
}

/* Tout écran au dessus de 1440px */
@media screen and (min-width: 90em) {
  .search-tab {
    margin-right: 10rem;
    width: 31rem;
  }

  .search-by-location {
    margin-right: 13rem;
  }

  .search-button {
    width: 12.5rem;
  }
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.body-modal {
  overflow: hidden;
}

.open-modal {
  visibility: visible;
  opacity: 1;
}

.modal-block {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
}

.modal-block-black {
  background-color: #19202d;
}

.modal-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.modal-location {
  display: flex;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.modal-location-logo {
  margin-right: 1.5rem;
}

.modal-tab {
  background-color: white;
  border: none;
}

.modal-tab-black {
  background-color: #19202d;
  color: white;
}

.horizontal {
  width: 100%;
  margin-bottom: 2.4rem;
  border-top: 1px solid #6e8098;
  opacity: 20%;
}

.full-time-option {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.modal-option {
  font-weight: 700;
}

.modal-checkbox,
.time-checkbox {
  appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  margin-left: -1.5rem;
  margin-right: 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: #19202d;
  opacity: 10%;
}

.modal-checkbox:checked,
.time-checkbox:checked {
  opacity: 100%;
  background-image: url("../../assets/images/Checked.png");
  background-size: contain;
}

.time-checkbox-black {
  background-color: white;
}

.modal-checkbox-black {
  background-color: white;
}

.modal-option-black {
  color: white;
}

.modal-search-button {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  border: none;
  border-radius: 5px;
  align-items: center;
  background-color: #5964e0;
  padding: 1rem;
  color: white;
}

/* Main */

.lds-ring {
  grid-column-start: 2;
  grid-column-end: 3;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section {
  display: grid;
  grid-gap: 5rem;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.5rem;
}

@media screen and (min-width: 48em) {
  section {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 6.5rem;
  }
}

@media screen and (min-width: 90em) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 6.5rem;
  }
}

/* CARDS */

.job-card {
  position: relative;
  min-width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 3rem;
  padding-top: 5rem;
}

.job-card:hover {
  cursor: pointer;
  background-color: #939bf430;
  transition: all 0.3s;
}

.job-card-black {
  background-color: #19202d;
}

.announcement-title-black {
  color: white;
}

.announcement-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 15px;
  border: none;
  background-color: #19202d;
}

.jobs-logo {
  width: 3.5rem;
  height: 2.5rem;
}

.announcement-details {
  font-size: 16px;
  color: darkgrey;
  display: flex;
}

.timestamp {
  margin-right: 0.5rem;
}

.separator {
  margin-right: 0.5rem;
}

.announcement-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 20px;
}

.announcement-author {
  font-size: 16px;
  color: darkgrey;
}

.announcement-location {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 14px;
  color: #5964e0;
}

.loading-zone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-button {
  justify-content: center;
  margin-bottom: 6rem;
  padding: 1rem 3rem;
  background-color: #5964e0;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}

.load-button:hover {
  background-color: #939bf4;
  transition: all 0.3s;
}
